<ngx-datatable class=" material no-detail-row row-hover" [columnMode]="ColumnMode.force" [headerHeight]="50"
    style="height: 500px; width: 100%;" [rowHeight]="60" [rows]="data" [footerHeight]="50" [scrollbarH]="true"
    [scrollbarV]="true">
    <ngx-datatable-column name="stt" prop="stt" [width]="50"></ngx-datatable-column>
    <ngx-datatable-column name="fullname" prop="fullname"> </ngx-datatable-column>
    <ngx-datatable-column name="sex" prop="sex"></ngx-datatable-column>
    <ngx-datatable-column name="yearOfBirth" prop="yearOfBirth"></ngx-datatable-column>
</ngx-datatable>